# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Logs and databases
*.log
*.sqlite3

# Editor files
.vscode/
.idea/
*.swp
*.swo

# Output files
output/
dist/
build/
